<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ruan.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.Activity.Device" />
        <activity android:name=".View.Activity.DeviceList" />
        <activity android:name=".View.Activity.Suggest" />
        <activity android:name=".View.Activity.Edit" />
        <activity android:name=".View.Activity.Setting" />
        <activity android:name=".View.Activity.Help" />
        <activity android:name=".View.Activity.Person"/>
        <activity android:name=".View.Activity.PersonEdit"/>
        <activity android:name=".View.Activity.Login"/>
    </application>

</manifest>