<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blink.blinkiot">

    <!-- 连接网络的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取wifi状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取网络状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 读取手机内存的权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入手机内存的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/NoWhite">
        <!--AnimActivityTheme-->
        <activity android:name="com.blink.blinkiot.Start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blink.blinkiot.Start.MainActivity"
            android:configChanges="locale" />
        <activity android:name="com.blink.blinkiot.View.Activity.DeviceType" />
        <activity android:name="com.blink.blinkiot.View.Activity.DeviceList" />
        <activity android:name="com.blink.blinkiot.View.Activity.Suggest" />
        <activity android:name="com.blink.blinkiot.View.Activity.DeviceEdit" />
        <activity android:name="com.blink.blinkiot.View.Activity.Setting" />
        <activity android:name="com.blink.blinkiot.View.Activity.Help" />
        <activity android:name="com.blink.blinkiot.View.Activity.Person" />
        <activity android:name="com.blink.blinkiot.View.Activity.Edit" />
        <activity android:name="com.blink.blinkiot.View.Activity.Login" />
        <activity android:name="com.blink.blinkiot.View.Activity.DeviceControl" />
        <activity android:name="com.blink.blinkiot.View.Activity.AirkissNetWork" />
        <activity android:name="com.blink.blinkiot.View.Activity.NetWorkSetting" />
        <activity android:name="com.blink.blinkiot.View.Activity.SceneList" />
        <activity android:name="com.blink.blinkiot.View.Activity.picPick" />
        <activity android:name="com.blink.blinkiot.View.Activity.City" />
        <activity android:name="com.blink.blinkiot.View.Activity.ConfigList" />
        <activity android:name="com.blink.blinkiot.View.Activity.ClearCache" />
        <activity android:name="com.blink.blinkiot.View.Activity.MessageSetting" />
        <activity android:name="com.blink.blinkiot.View.Activity.AboutMe" />
        <activity android:name=".Start.LeadActivity" />
        <activity android:name=".View.Activity.ThridLogin" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0bc39abaa029b54f109053f4c3d20f96">//开发者申请的key
        </meta-data>


        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"></activity>

        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="1033393090" />
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="weibo" />


        <!-- 推送的配置-->
        <service
            android:name="com.blink.blinkiot.Other.Push.MyPushIntentService"
            android:process=":push" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57b671ac67e58e1b0c004060"></meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="58b4fd2bc775e922341fc61e23f417e3"></meta-data>

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng"></meta-data>
    </application>

</manifest>